@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videos {
  width: 100%;
  padding-top: 1rem;
  @include tablet {
    padding-top: 1.5rem;
  }
  @include desktop {
    width: 30%;
  }
  &__title {
    padding-bottom: 1rem;
    @include label;
    text-transform: uppercase;
    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      gap: 1.5rem;
    }
  }
  &__link{
    display: flex;
    gap: 1rem;
    color: $primary-text-color;
    @include tablet {
      gap: 1.25rem;
      width: 50%;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__image {
    width: 8rem;
    height: 4.5rem;
    border-radius: 5px;
  }
  &__info {
    @include flex-between;
    align-items: flex-start;
    flex-direction: column;
    &--title {
      font-weight: 600;
    }
  }
}
