@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  padding-top: 1rem;
  @include tablet {
    padding-top: 1.5rem;
  }

  &__title {
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
}
.form {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  &::after {
    @include divider;
  }
  @include tablet {
    justify-content: space-between;
    padding-bottom: 1.25rem;
  }
  @include desktop {
    padding-right: 1.5rem;
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;

    @include tablet {
      width: 3rem;
      height: 3rem;
      align-self: flex-start;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    @include label;
    text-transform: uppercase;
  }

  &__button {
    @include button("../../../src/assets/icons/add_comment.svg");
    align-self: flex-end;
  }

  &__input {
    width: 100%;
    padding-bottom: 5rem;
    @include input;

    @include tablet {
      padding-bottom: 0.75rem;
      align-self: flex-end;
    }
  }
}

.comment {
  &__item-container {
    width: calc(100% - 2.25rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;

    @include tablet {
      padding: 1.5rem 0;
    }
    @include desktop {
      padding-right: 1.5rem;
    }
    &::after {
      @include divider;
    }
  }

  &__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $avatar-color;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
  &__name-date-container {
    @include flex-between;
  }
  &__name {
    font-weight: 600;
  }
  &__time {
    color: $labels-text-color;
  }
}

.no-comments {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  @include tablet {
    padding-top: 1.5rem;
  }
}
